* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #dd5470;
  --secondary-color: #193a4a;

  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* globals */
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

svg {
  color: var(--primary-color);
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: white;
  font-weight: bold;
  background: #e76f51;
  padding: 0.4rem 0.9rem;
  border: 3px solid #f4a261;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.25rem 2rem;
  background: var(--primary-color);
  z-index: 1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-icon {
  font-size: 1.5rem;
  color: white;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
  align-items: center;
}

.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: white;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}

.nav-links a:hover {
  color: var(--secondary-color);
}

.show-nav {
  height: 100px;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }

  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

/* end of navbar */
/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(100vh - 66px);
  background: url('../../public/assets/images/defaultBcg.jpeg') center/cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomsHero {
  background-image: url('../../public/assets/images/room-2.jpeg');
  min-height: 60vh;
}

/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.banner h1 {
  font-size: 2.5rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }

  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }

  .banner h1 {
    font-size: 4rem;
  }
}

/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}

/* end of Title */

/* services */
.servicesBody {
  padding: 5rem 0;
}

.servicesBody {
  background: var(--darkGrey);
  text-align: center;
}

.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.services p {
  width: 80%;
}

@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}

/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}

.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}

@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* end pf featured rooms */
/* room */
.room {
  height: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: var(--mainTransition);
  border-radius: 1em 1em 0 0;
}

.room img {
  width: 100%;
  height: 100%;
  border-radius: 1em 1em 0 0;
}

.room:hover {
  box-shadow: var(--darkShadow);
  border-radius: 1em 1em 0 0;
}

.img-container {
  position: relative;
  border-radius: 1em 1em 0 0;
}

.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-color);
  color: #fff;
  padding: 0.3rem 0.6rem 0.5rem;
  border-radius: 1rem 0 0 0;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}

.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}

.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .price-top {
  opacity: 0;
}

.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}

.room-info {
  background: var(--secondary-color);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
  color: white;
}

.container-select {
  display: flex;
}

/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}

.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.single-room-images img {
  width: 100%;
  display: block;
}

.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}

.desc,
.info {
  margin: 1rem 0;
}

.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.desc p {
  line-height: 1.5;
}

.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}

.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}

.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }

  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  .info {
    padding-left: 3rem;
  }
}

/* end of single room*/
/* roomlist */
.roomslist {
  padding: 5rem 0;
}

.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 1em 0;
}

.filter-form {
  width: 60vw;
  margin: 0 auto;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-group {
  text-transform: capitalize;
}

.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}

.size-inputs {
  display: flex;
}

.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}

.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}

@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* footer */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #193a4a;
  color: #fefefe;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer .heading {
  color: #fefefe;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer .content {
  display: flex;
  justify-content: space-between;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .content a:hover {
  border-bottom: 1px solid #971717;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}

/* buttons */

.btn-cssbuttons {
  --btn-color: var(--secondary-color);
  position: relative;
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: var(--secondary-color);
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 24px;

  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
  padding-right: 7px;
}

.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}

.button {
  --color: var(--primary-color);
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  z-index: 0;
}

.button::before,
.button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

/* contact */

.formContact {
  width: 100%;
  height: 100%;
  margin: 2em 0;
}
.iframe {
  width: 100%;
  height: 350px;
  margin: auto;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
  .formContact {
    width: '50%';
  }

  .iframe {
    width: '50%';
  }
}
